:root {
  --primary-color: #576b62;
  --secondary-color: #819089;
  --hover-color: black;
  --text-color: #555;
  --background-color: white;
  --border-color: white;
  --star-color: #819089;
  --button-hover-bg-color: #54615b;
  --footer-bg-color: #576b62;
  --footer-text-color: white;
  --scrollbar-bg-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
  --trans-background-color: #576b6262;
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

li a:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  position: fixed;
  transition: all 0.3s ease-in-out;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container img {
  width: 180px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
}

/* Navbar */
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  gap: 15px;
  padding: 5px;
}

.nav a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  padding: 10px;
}

.menu {
  --s: 35px;
  --c: var(--color-white);
  height: var(--s);
  width: var(--s);
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top, var(--_g1) left calc(var(--s)/10 + var(--_p, 0px)) top, var(--_g2) right var(--_p, 0px) top, var(--_g1) right calc(var(--s)/10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  cursor: pointer;
  transition: background-position .3s ease, clip-path 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.2s ease;
}

.menu.open:before {
  transform: rotate(45deg);
}

.menu.open:after {
  transform: rotate(-45deg);
}

.nav.open .menu {
  background-image: none;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

/* Hero Section */
.hero {
  position: relative;
  margin-top: 60px;
  width: 100%;
}

.hero img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.hero-bloc-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-bloc-text h1 {
  font-size: 50px;
  font-weight: 800;
  color: var(--primary-color);
}

.bloc-hero {
  background-color: var(--trans-background-color) ;
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloc-hero h1,
.bloc-hero h2 {
  color: #ffffff !important;
}

.bloc-hero img {
  width: 200px;
  height: 250px;
}

h2 {
  color: var(--primary-color);
}

h3 {
  font-size: 30px;
  font-weight: 800;
  margin: 5px;
  color: var(--primary-color);
  opacity: 1;
  visibility: visible;
}

.hero-bloc-text a {
  all: unset;
  cursor: pointer;
}


/* Service Section */
.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.service-item {
  width: 25%;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 5px 30px 0px #576b6296;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-item:hover {
  transform: scale(1.1);
}

/* Button */


#Domaine{
  text-align: center;
}
#Honoraires{
  text-align: center;
}
/* Titres */
.container-why h2 {
    color: var(--color-white);
    font-size: 28px;
    margin-bottom: 10px;
}

.container-why h3 {
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 10px;
}  
.container-why h4 {
    font-size: 15px;
    color: var(--color-white);
    margin-bottom: 20px;
}   
.thecar-theme-reservation-area{
    background-color: var(--trans-background-color) ;
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
/* Avis Section */
#avis {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--background-color);
  overflow: hidden;
}

.avis-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.avis-slider {
  display: flex;
  gap: 20px;
  animation: scrollAvis 15s linear infinite;
}

.avis-card {
  background-color: var(--background-color);
  padding: 20px;
  min-width: 300px;
  box-shadow: 0px 5px 30px 0px #576b6296;
  border-radius: 8px;
  text-align: left;
  margin: 10px;
}

.avis-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.avis-card p {
  font-size: 1rem;
  color: var(--text-color);
}

.stars {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--star-color);
}

@keyframes scrollAvis {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Blog Section */
.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-col {
  width: 26%;
  box-sizing: border-box;
  margin-bottom: 20px;
  min-height: 650px;
}

.blog-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.blog-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.blog-card-front,
.blog-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
}

.blog-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blog-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(180deg);
  overflow: auto;
}

.blog-card.flipped .blog-card-inner {
  transform: rotateY(180deg);
}

.blog-card-back ul {
  padding: 20px;
}

.blog-card li {
  list-style-type: circle;
  margin-top: 10px;
}

/* Flip Button */
.flip-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
}

.flip-btn:hover {
  background-color: var(--button-hover-bg-color);
}

.blog-card-front h3,
.blog-card-back h3,
.blog-card-text,
.blog-card-back li {
  color: var(--color-white) !important;
}

/* Footer Section */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 25px 0px;
}

.footerA {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  color: var(--color-white);
  padding: 5px;
  border-radius: 10px;
  background: var(--color-white);
  background: -moz-linear-gradient(156deg, var(--color-white) 20%, var(--secondary-color) 100%);
  background: -webkit-linear-gradient(156deg, var(--color-white) 20%, var(--secondary-color) 100%);
  background: linear-gradient(156deg, var(--color-white) 20%, var(--secondary-color) 100%);
}

.footerA:hover {
  transform: scale(1.1);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  max-width: 300px;
}

.footer-info h3 {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info a {
  text-decoration: none;
  color: var(--footer-text-color);
}

.footer-info a:hover {
  text-decoration: underline;
}

.droit-reserver {
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Map Section */
.map-container {
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.map-container iframe {
  border-radius: 10px;
  max-width: 100%;
  width: 600px;
  height: 450px;
}

/* Container principal */
.container-why {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/public/assets/images/Palais_de_justice_de_Marseille.webp);
  z-index: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.h1style {
  font-size: 50px;
  font-weight: 800;
  color: var(--hero-text-color);
  opacity: 1;
  visibility: visible;
  margin: 10px;
}